@charset "UTF-8";

body{
    color: #ff0000;
    background-color: #000000;
    background-image: url(imagens/wallpaper003.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: 100% 100%;
    background-attachment: scroll;
}

main#container{
    margin: auto;
    height: 500px;
    width: 300px;
    background-color: #5f9ea0;
    border: 2px solid #0000ff;
    border-radius: 10px 20px 30px 40px;
}

p{
    text-align: center;
    color: #ffff00;
    font-size: 1em;
    font-weight: bolder;
}